<div class="row">
  <div class="col-sm-offset-1 col-sm-8"><h1><%= "#{params[:action].capitalize} #{params[:controller].singularize.capitalize}" %></h1></div>
</div>
<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-body">

    <%= form_for @contract do |f| %>
      <%= render partial: "shared/errors", locals: {md: @contract} %>
      <h3>Contract Details</h3>
      <%= f.label :performance %><br />
      <%= Performance.find_by(id: (params[:performance_id] || f.object.performance_id)).try(:performance_string) %>
      <%= f.hidden_field :performance_id, {:value => (f.object.performance_id || params[:performance_id])} %>
      <br>
      <%= f.label :submit_date %>
      <%= f.date_field :submit_date, class: "form-control" %><br>
      <%= f.label :due_date %>
      <%= f.date_field :due_date, class: "form-control" %><br>
      <%= f.label :status %><br />
      <%= f.select :status, options_for_select([["Pending", "pend"], ["Submitted", "submit"], ["Approved", "a"], ["Fulfilled", "f"], ["Canceled", "c"]]),{}, {class: 'form-control'} %><br>
      <%= f.label :details %><br>
      <%= f.text_area :details, class: "form-control", rows: 3 %>
      <h3>Add Approvers</h3>
      <%= f.fields_for :approvals, @contract.approvals.build do |f_approval| %>
      <%= f.label 'User' %>
      <%= f_approval.collection_select(:user_id, User.all, :id, :email, {include_blank: 'Select'}, {class: "form-control"}) %><br>
      <%= f.label 'Date Due' %>
      <%= f_approval.date_field :date_requested, class: "form-control" %><br>
      <% end %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
