<div class="row">
  <div class="col-sm-offset-1 col-sm-8"><h1>All Contracts</h1></div>
</div>
<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Performance Date</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.order(due_date: :asc).each do |contract| %>
      <tr>
        <td class="col-md-2"><%= contract.performance.name %></td>
        <td><%= contract.performance.act.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe, act_path(contract.performance.act) %></td>
        <td><%= contract.performance.venue.name %> <%= link_to "#{icon('arrow-circle-right')}".html_safe, venue_path(contract.performance.venue) %></td>
        <td><%= contract.performance.fmatdate %></td><td><%= contract.status %></td>
        <td><%= link_to "#{icon('eye')}".html_safe, contract_path(contract) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('pencil')}".html_safe, edit_contract_path(contract) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')}".html_safe, contract_path(contract), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
