<%= render partial: "edit_links", locals: {resource: @contract,  text: true, displaytype: "page"} %>
<h1><%= @contract.performance.name %></h1>
<p>
  <strong>Date: </strong><%= fmatdate(@contract.performance.perf_date) %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , performance_path(@contract.performance) %><br>
  <strong>Venue: </strong><%= @contract.performance.venue.name %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , venue_path(@contract.performance.venue) %><br>
  <strong>Act: </strong><%= @contract.performance.act.name %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , act_path(@contract.performance.act) %>
</p>
<p>
  <strong>Submit Date: </strong><%= fmatdate(@contract.submit_date) %><br>
  <strong>Due Date: </strong><%= fmatdate(@contract.due_date) %><br>
  <strong>Status: </strong><%= @contract.status_value %>
</p>
<p>
  <strong>Contract Details: </strong><br /><%= @contract.performance.description %>
</p>
<h3>Documents</h3>
<% if policy(:contract).new? %><p><%= link_to "#{icon('file-o')} New Document".html_safe, new_contract_document_path(@contract)%></p><% end %>
<div class="panel panel-default col-sm-11">
  <table class="table">
    <thead>
      <tr>
        <th>Document</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "document", collection: @documents %>
    </tbody>
  </table>
</div>
<h3>Approvals</h3>
<div class="panel panel-default col-sm-11">
  <table class="table">
    <thead>
      <tr>
        <th>Representative</th>
        <th>Role</th>
        <th>Date Requested</th>
        <th>Date Answered</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "approval", collection: @approvals %>
    </tbody>
  </table>
</div>
