<%= render partial: "edit_links", locals: {resource: @contract,  text: true, displaytype: "page"} %>
<h1><%= @contract.performance.name %></h1>
<p>
  <strong>Date: </strong><%= fmatdate(@contract.performance.perf_date) %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , performance_path(@contract.performance) %><br>
  <strong>Venue: </strong><%= @contract.performance.venue.name %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , venue_path(@contract.performance.venue) %><br>
  <strong>Act: </strong><%= @contract.performance.act.name %> <%= link_to "#{icon('arrow-circle-right')}".html_safe , act_path(@contract.performance.act) %>
</p>
<p>
  <strong>Submit Date: </strong><%= fmatdate(@contract.submit_date) %><br>
  <strong>Due Date: </strong><%= fmatdate(@contract.due_date) %><br>
  <strong>Status: </strong><%= @contract.status_value %>
</p>
<p>
  <strong>Contract Details: </strong><br /><%= @contract.performance.description %>
</p>
<h3>Documents</h3>
<% if policy(:contract).new? %><p><%= link_to "#{icon('file-o')} New Document".html_safe, new_contract_document_path(@contract)%></p><% end %>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDocument">New Document</button>
<div class="modal fade" id="addDocument" tabindex="-1" role="dialog" aria-labelledby="addDocument">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newDocTitle">New Document</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="doc-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="doc-desc" class="control-label">Description:</label>
            <input type="text" class="form-control" id="description">
          </div>
          <div class="form-group">
            <label for="doc-location" class="control-label">Location:</label>
            <input type="text" class="form-control" id="location">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create Document</button>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default col-sm-11">
  <table class="table">
    <thead>
      <tr>
        <th>Document</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "document", collection: @documents %>
    </tbody>
  </table>
</div>
<h3>Approvals</h3>
<div class="panel panel-default col-sm-11">
  <table class="table">
    <thead>
      <tr>
        <th>Representative</th>
        <th>Role</th>
        <th>Date Requested</th>
        <th>Date Answered</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "approval", collection: @approvals %>
    </tbody>
  </table>
</div>
<script>
$('#addDocument').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  // var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
});
</script>
