<tr>
  <td><%= user.name %></td>
  <td><%= mail_to user.email %></td>
  <td><%= user.role %></td>
  <td><%= user.approved %></td>
  <td><%= render partial: "edit_links", locals: {resource: user, text: false, displaytype: "row"} %>
</tr>
