<h2><%= @user.name %></h2>
<%= form_for @user do |f| %>
<%= render partial: "shared/errors", locals: {md: @user} %>
<%= f.label :approved %>&nbsp;&nbsp;<%= f.check_box :approved, {class: "checkbox-inline"}%>
<br />
<%= f.label :role %>
<br />
<%= f.select :role, options_for_role, {}, {class: "form-control"} %>
<br />
<%= f.label 'Act' %>
<br />
<%= f.collection_select(:act_id, Act.all, :id, :name, {include_blank: 'Select'}, {class: "form-control"}) %>
<br />
<%= f.label 'Venue' %>
<br />
<%= f.collection_select(:venue_id, Venue.all, :id, :name, {include_blank: 'Select'}, {class: "form-control"}) %>
<br />
<%= f.submit class: "btn btn-primary" %>
<% end %>
