<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Approved</th>
      <th>Role</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.approved %></td>
      <td><%= user.role %></td>
      <td><%= link_to "#{icon('pencil')}".html_safe, edit_user_path(user) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')}".html_safe, user_path(user), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
