<tr>
  <td class="col-md-2"><%= venue.name %></td>
  <td><%= venue.city %>, <%= venue.state %></td>
  <td><%= venue.phone %></td><td><%= mail_to venue.email, venue.email %></td>
  <td><%= link_to venue.website, venue.website %></td>
  <td><%= render partial: "edit_links", locals: {resource: venue, text: false, displaytype: "row"} %></td>
</tr>
