<tr>
  <td class="col-md-2"><%= performance.name %></td>
  <td><%= performance.act.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe, act_path(performance.act) %></td>
  <td><%= performance.venue.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe, venue_path(performance.venue) %></td>
  <td><%= fmatdate(performance.perf_date) %> - <%= fmattime(performance.perf_time) %></td>
  <td>
  <% if performance.try(:contract) %>
    <%= performance.contract.status %> <%= link_to  "#{icon('arrow-circle-right')}".html_safe, contract_path(performance.contract) %>
  <% end %>
  </td>
  <td><%= link_to "#{icon('eye')}".html_safe, performance_path(performance) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('pencil')}".html_safe, edit_performance_path(performance) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')}".html_safe, performance_path(performance), method: :delete %></td>
</tr>
