<div class="row">
  <div class="col-sm-offset-1 col-sm-8"><h1>Performances</h1></div>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Upcoming Performances</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @performances.order(perf_date: :asc).where('perf_date >= ?', Date.today).each do |perf| %>
      <tr>
        <td class="col-md-2"><%= perf.name %></td>
        <td><%= perf.act.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe, act_path(perf.act) %></td>
        <td><%= perf.venue.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe, venue_path(perf.venue) %></td>
        <td><%= perf.fmatdate %></td><td><%= perf.fmattime %></td>
        <td><%= link_to "#{icon('eye')}".html_safe, performance_path(perf) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('pencil')}".html_safe, edit_performance_path(perf) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')}".html_safe, performance_path(perf), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Past Performances</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @performances.order(perf_date: :desc).where('perf_date < ?', Date.today).each do |perf| %>
      <tr>
        <td class="col-md-2"><%= perf.name %></td>
        <td><%= perf.act.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe , act_path(perf.act) %></td>
        <td><%= perf.venue.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe , venue_path(perf.venue) %></td>
        <td><%= perf.fmatdate %></td><td><%= perf.fmattime %></td>
        <td><%= link_to "#{icon('eye')}".html_safe, performance_path(perf) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('pencil')}".html_safe, edit_performance_path(perf) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')}".html_safe, performance_path(perf), method: :delete %></td>
      </tr>
        <% end %>
      </tbody>
    </table>
  </div>
