<div class="row">
  <div class="col-sm-offset-1 col-sm-8"><h1>All Performances</h1></div>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Upcoming Performances</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @performances.order(perf_date: :asc).where('perf_date >= ?', Date.today).each do |perf| %>
      <tr>
        <td class="col-md-2"><%= perf.name %></td>
        <td><%= perf.act.name %>  <a href="/acts/<%= perf.act.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= perf.venue.name %>  <a href="/venues/<%= perf.venue.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= perf.fmatdate %></td><td><%= perf.fmattime %></td>
        <td><a href="/performances/<%= perf.id %>"><i class="fa fa-info-circle"></i></a>&nbsp;&nbsp;&nbsp;<a href="/performances/<%= perf.id %>/edit"><i class="fa fa-pencil-square"></i></a>&nbsp;&nbsp;&nbsp;<a href="/performances/<%= perf.id %>/delete"><i class="fa fa-trash"></i></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-heading"><strong>Past Performances</strong></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @performances.order(perf_date: :desc).where('perf_date < ?', Date.today).each do |perf| %>
      <tr><td><%= perf.name %></td>
        <td><%= perf.act.name %>  <a href="/acts/<%= perf.act.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= perf.venue.name %>  <a href="/venues/<%= perf.venue.id %>"><i class="fa fa-arrow-circle-right"></i></a></td>
        <td><%= perf.fmatdate %></td><td><%= perf.fmattime %></td>
<td><a href="/performances/<%= perf.id %>"><i class="fa fa-info-circle"></i></a>&nbsp;&nbsp;&nbsp;<a href="/performances/<%= perf.id %>/edit"><i class="fa fa-pencil-square"></i></a>&nbsp;&nbsp;&nbsp;<a href="/performances/<%= perf.id %>/delete"><i class="fa fa-trash"></i></a></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
