<%= render partial: "edit_links", locals: {resource: @performance, text: true, displaytype: "page"} %>
<h1><%= @performance.name %></h1>

<p>
  <% if @performance.try(:contract) %>
  <%= link_to "#{icon('file-text-o')} View Contract".html_safe, contract_path(@performance.contract) %>
  <% else %>
  <% if policy(:contract).new? %>
  <%= link_to "#{icon('file-text-o')} Create Contract".html_safe, new_contract_path(:performance_id => @performance.id) %>
  <% end %>
  <% end %>
</p>
<p><strong>Date: </strong><%= fmatdate(@performance.perf_date) %> | <strong>Time: </strong><%= fmattime(@performance.perf_time) %></p>
<p><strong>Act: </strong><%= link_to @performance.act.name, act_path(@performance.act)  %></p>
<p><strong>Venue: </strong><%= link_to @performance.venue.name, venue_path(@performance.venue)  %></p>
<p><strong>Description: </strong><br /><%= @performance.description  %></p>
<p><strong>Ticketing: </strong><%= link_to @performance.tkts_url, @performance.tkts_url, target: 'blank'  %></p>
