<div class="row">
<div class="panel panel-default col-sm-offset-1 col-sm-10">
    <% if policy(:performance).edit? %>
      <div style="float: right;"><%= link_to 'Edit', edit_performance_path(@performance) %><i class="fa fa-pencil-square fa-lg"></i></a>&nbsp;&nbsp;&nbsp;<%= link_to 'Delete', act_path(@performance), method: :delete %><i class="fa fa-trash fa-lg"></i></a></div>
    <% end %>
<h1><%= @performance.name %></h1>
<p><%= icon('file-text-o') %> <%= link_to 'View Contract', contract_path(@performance.contract) %></p>
<p><strong>Date: </strong><%= @performance.fmatdate %> | <strong>Time: </strong><%= @performance.fmattime %></p>
<p><strong>Act: </strong><%= link_to @performance.act.name, act_path(@performance.act)  %></p>
<p><strong>Venue: </strong><%= link_to @performance.venue.name, venue_path(@performance.venue)  %></p>
<p><strong>Description: </strong><br /><%= @performance.description  %></p>
<p><strong>Ticketing: </strong><%= link_to @performance.tkts_url, @performance.tkts_url, target: 'blank'  %></p>
</div>
</div>
