<div class="row">
  <div class="col-sm-offset-1 col-sm-8"><h1><%= "#{params[:action].capitalize} #{params[:controller].singularize.capitalize}" %></h1></div>
</div>
<div class="panel panel-default col-sm-offset-1 col-sm-10">
  <div class="panel-body">
    <%= form_for @act do |f| %>
      <%= render partial: "shared/errors", locals: {md: @act} %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %><br>
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %><br>
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %><br>
      <%= f.label :size %>
      <%= f.text_field :size, class: "form-control" %><br>
      <%= f.label :website %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= icon('globe') %></span>
        <%= f.url_field :website, {class: "form-control"} %>
      </div>
      <br />
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
