<tr>
  <td><%= performance.name %>  <%= link_to "#{icon('arrow-circle-right')}".html_safe , performance_path(performance) %></td>
  <td><%= performance.venue.name %> <%= link_to  "#{icon('arrow-circle-right')}".html_safe, venue_path(performance.venue) %></td>
  <td><%= fmatdate(performance.perf_date) %></td>
  <td>
  <% if performance.try(:contract) %>
    <%= performance.contract.status %> <%= link_to  "#{icon('arrow-circle-right')}".html_safe, contract_path(performance.contract) %>
  <% end %>
  </td>
</tr>
