<% if policy(:act).edit? %>
<div style="float: right;">
  <br /><%= link_to "#{icon('pencil')} Edit".html_safe, edit_act_path(@act) %>&nbsp;&nbsp;&nbsp;<%= link_to "#{icon('trash-o')} Delete".html_safe, act_path(@act), method: :delete %>
</div>
<% end %>
<h1><%= @act.name %></h1>
<p><strong>Description:</strong><br />
  <%= @act.description %></p>
  <p>
    <strong>Location: </strong><%= @act.location %><br>
    <strong>Size: </strong><%= @act.size %><br>
    <strong>Website: </strong><%= link_to @act.website %><br>
  </p>
  <p>
    &nbsp;
  </p>
  <%= render partial: "performances/perf_table", locals: {title: "Upcoming Shows", collection: @performances_upcoming} %>
  <br />
  <%= render partial: "performances/perf_table", locals: {title: "Past Shows", collection: @performances_past} %>
