<%= render partial: "edit_links", locals: {resource: @act, text: true, displaytype: "page"} %>
<h1><%= @act.name %></h1>
<div data-performance-act-list="<%= @act.id %>" />
<p><strong>Description:</strong><br />
  <%= @act.description %>
</p>
  <p>
    <strong># of Performances: </strong><%= @act.num_of_performances %><br>
    <strong>Location: </strong><%= @act.location %><br>
    <strong>Size: </strong><%= @act.size %><br>
    <strong>Website: </strong><%= link_to @act.website %><br>
  </p>
  <p>
    &nbsp;
  </p>
  <h4>Users:</h4>
  <div class="panel panel-default col-sm-12">
    <%= render partial: "users/user_table", locals: {collection: @users} %>
  </div>
  <p>
    &nbsp;
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Act</th>
        <th>Venue</th>
        <th>Date</th>
        <th>Contract</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody id="upcoming_perf">
    </tbody>
    <tbody id="past_perf">
    </tbody>
  </table>
  <br />
